html{
    font-family: sans-serif;
    overflow-x: hidden;
}
body{
    box-sizing: border-box;
    margin: 0 ;
    width: 100%;
    
    color: rgb(122, 121, 121);

}
.fixed-header{
    box-sizing: border-box;

    /*上部固定，百分数取代像素：响应式设计*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: white;

    display: flex;
    padding-right: 30px;

    
}

header{
    box-sizing: border-box;
    flex: 1;

}

h1{
    text-align: center;
    letter-spacing: 0.2rem;
}
nav{
    box-sizing: border-box;
    flex: 3;

    /*利用flex布局使子元素垂直居中*/
    display: flex;
    display: -webkit-flex;
    align-items: center;

 
}
.banner{
    box-sizing: border-box;
    padding-left: 0;

    /*取代像素，响应式设计*/
    width: 100%;
    text-align: right;
    

}
.banner li{
    box-sizing: border-box;
    display: inline-block;
    list-style: none;   
    font-size: 0.7rem;
    letter-spacing: 0.1rem;
    margin-left: 10px;
    padding-right: 10px;
}

.fixed-aside{
    box-sizing: border-box;
    position: fixed;
    top: 88.48px;
    left: 0;
    width: 25%;

}
.menu{
    box-sizing: border-box;
    padding-left: 0;
    text-align: center;
    margin-top: 50%;
}
.menu li{
    list-style: none;
    color: black;
    text-align: center;
    margin-top: 20px;
    letter-spacing: 0.2rem;
    font-size: 0.7rem;
}



main{
    box-sizing: border-box;

    padding-left: 30px;
    padding-top: 86.48px;
    padding-right: 30px;

}

/*移动优先设计,窄屏下只有一列*/
article{
    box-sizing: border-box;
}

.photo-frame{
    text-align: center;
}

.photo{
    max-width: 100%;
    object-fit: cover;
}

.title p{
    width: 100%;
    text-align: center;

    color: rgb(100, 99, 99);
    letter-spacing: 0.1rem;
  
}

.introduction p{
    text-align: center;
    padding: 10px;
    font-size: small;

    letter-spacing: 0.07rem;
    line-height: 1.5rem;
}
/*侧边菜单栏隐藏*/
.fixed-aside{
    display: none;
}

/*媒介查询，响应式grid布局，介绍版块在图片下面*/

@media screen and (min-width: 1024px){

    article{  
        box-sizing: border-box;

        /*利用local grid布局，创建等宽四列网格*/
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-gap: 30px;
        
    }

    .long-content{  
        box-sizing: border-box;
        margin-top: 75px; 
        grid-column: 1/5;
    }

    .long-content .photo-frame{
        margin: 0;
        grid-column: 1/5;
    }

    .long-content .info{
        margin: 0;
        grid-column: 1/5;
    }

    .medium-content{
        box-sizing: border-box;
        grid-column: 2/4;
        margin-top: 122px;;
    }
    

    .front-content{
        box-sizing: border-box;
        grid-column: 1/3;
        margin-top: 280px;
    }

    .back-content{
        box-sizing: border-box;
        grid-column: 3/5;
        margin-top: 100px;
    }

    /*侧边菜单栏显示*/
    .fixed-aside{
        display: block;
    }
    /*调整内容左边距*/
    main{ 
        padding-left: 25%;
    }
    

}

/*宽屏下，介绍版块和图片并列*/
@media screen and (min-width: 1175px){
    
    .long-content{  
        box-sizing: border-box;
        margin-top: 75px; 
        grid-column: 1/5;
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }

    .long-content .photo-frame{
        margin: 0;
        grid-column: 1/3;      
    }

    .long-content .info{
        margin: 0;
        margin-left: 30px;
        grid-column: 3/4;
        
    }
    
    .long-content .title{
        height: 30%;
        display: flex;
        display: -webkit-flex;
        align-items: flex-end;
    
    }

    .long-content .introduction{
        height: 70%;      
        display: flex;
        display: -webkit-flex;
        align-items: start;
    }
    .long-content .introduction p{
        padding: 10px;
    }
     
    .medium-content{
        box-sizing: border-box;
        grid-column: 2/4;
        margin-top: 122px;;
    }
    
    .front-content{
        box-sizing: border-box;
        grid-column: 1/3;
        margin-top: 280px;
    }
    
    .back-content{
        box-sizing: border-box;
        grid-column: 3/5;
        margin-top: 100px;
    }

    /*侧边菜单栏显示*/
    .fixed-aside{
        display: block;
    }

    main{ 
        padding-left: 25%;
    }


}

li a{
    color: black;
    text-decoration: none;
}

li a:hover{
    color: rgb(143, 29, 14);
}

footer{
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 20px;
    font-size: small;
}