html{
    font-family: sans-serif;
    overflow-x: hidden;
}
body{
    box-sizing: border-box;
    margin: 0 ;
    width: 100%;
    
    color: rgb(122, 121, 121);

}
.fixed-header{
    box-sizing: border-box;

    /*上部固定，百分数取代像素：响应式设计*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: white;

    display: flex;
    padding-right: 30px;

    
}

header{
    box-sizing: border-box;
    flex: 1;

}

h1{
    text-align: center;
    letter-spacing: 0.2rem;
}
h1 a{
    color: rgb(122, 121, 121);
    text-decoration: none;
}
nav{
    box-sizing: border-box;
    flex: 3;

    /*利用flex布局使子元素垂直居中*/
    display: flex;
    display: -webkit-flex;
    align-items: center;

 
}
.banner{
    box-sizing: border-box;
    padding-left: 0;

    /*取代像素，响应式设计*/
    width: 100%;
    text-align: right;
    

}
.banner li{
    box-sizing: border-box;
    display: inline-block;
    list-style: none;   
    font-size: 0.7rem;
    letter-spacing: 0.1rem;
    margin-left: 10px;
    padding-right: 10px;
}

.fixed-aside{
    box-sizing: border-box;
    position: fixed;
    top: 88.48px;
    left: 0;
    width: 25%;

}
.menu{
    box-sizing: border-box;
    padding-left: 0;
    text-align: center;
    margin-top: 50%;
}
.menu li{
    list-style: none;
    color: black;
    text-align: center;
    margin-top: 20px;
    letter-spacing: 0.2rem;
    font-size: 0.7rem;
}

main{
    box-sizing: border-box;
    padding-left: 25%;
    padding-top: 86.48px;
    padding-right: 30px;

}

.sign-in{
    width: 350px;
    margin-top: 10%;  
    margin-left: 20%;
}
.sign-in .title{
    margin-bottom: 30px;
    width: 100%;
    font-size: 1.5em;
    text-align: center;
    letter-spacing: 0.1rem;
    word-spacing: 0.3rem;
}
.sign-up{
    width: 100%;
    text-align: center;
    font-size: 0.8rem;
    margin-top: 15px;
}
.email, .pwd, .submit{
    
    margin-top: 20px;
    
    text-align: center;
}

label{
    display: block;  
    text-align: left;
    margin-right: 10px;
    margin-bottom: 15px;

}
input{ 
    height: 2.5rem;
    width: 100%;
    margin: 0;
    border: 0.5px solid #000;
    border-radius: 5px;
    box-sizing: border-box;
}
input:focus{
    border: 2px solid rgb(119, 118, 118);
    
    outline:none;
    vertical-align: middle;
}

button{
    height: 2.5rem;
    border-radius: 5px;
    margin-top: 20px;
    background: rgba(112, 111, 111, 0.2);
    border-style: none;
    letter-spacing: 0.05rem;
    word-spacing: 0.1rem;
}
button:hover{
    background:rgba(95, 92, 92, 0.3);
    border: 0.5px solid rgb(100, 98, 98);
 }

button:focus{
    border: 0.5px solid rgb(100, 98, 98);
}




li a{
    color: black;
    text-decoration: none;
}
li a:hover{
    color: rgb(143, 29, 14);
}

.sign-up a{
    color: rgb(143, 29, 14);
    text-decoration: none;
}

.sign-up a:hover{
    text-decoration: underline;
}
.sign-up a:focus{
    text-decoration: underline;
}



footer{
    box-sizing: border-box;
    width: 100%;
    margin-left: 30%;
    margin-top: 150px;
    
    font-size: small;
}